# Ignore everything inside the vivado_projects folder except for the generation scripts
vivado_projects/*
!vivado_projects/screen.tcl
!vivado_projects/build_screen.bat
!vivado_projects/build_screen.sh